<ion-header>
  <ion-toolbar>
    <ion-title>Mater social</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br><br><br><br><br>
  <div>
    <img id="fineimg" class="animate__animated animate__backInDown" src="../../../assets/icon/cheque.svg">
  </div>
  <ion-item>
    <ion-label> <p style="text-align: center;">Registro de Usuario Exitoso</p></ion-label>
  </ion-item>

  <ion-button (click)="registro()" expand="block" fill="clear" shape="round">
    Confirmar
  </ion-button>
</ion-content>
