
<ion-content>

  <ion-card>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating" class="monospace">E-Mail</ion-label>
        <ion-input [(ngModel)]="usuario.correo"  type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating" class="monospace">Password</ion-label>
        <ion-input [(ngModel)]="usuario.password" type="text"></ion-input>
      </ion-item>

      <ion-item button color="primary" (click)="login()">
        <ion-label class="monospace">Login</ion-label>
      </ion-item>


    </ion-card-content>

    
    
  </ion-card>
  
  <ion-card>
    <ion-item button [routerLink]="['/registro-usuario']">
      <ion-label class="monospace">Registrar</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="monospace">{{loginService.usuario.correo}}</ion-label>
      <ion-label class="monospace">{{loginService.authSubject.value}}</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>
