.login{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}
.registrar{
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    text-decoration: underline;
    color: rgb(56, 128, 255);
}
.dactilar{
    margin-left: 175px;
}