<ion-header>
  <ion-toolbar>
    <ion-title >Crear Publicacion</ion-title>
    <ion-buttons slot="end" class="close">
      <ion-icon (click)="cancelarModal()" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-label position="floating" > <p >¿Que deseas publicar?</p></ion-label>
    <ion-textarea (ionChange)="getText($event)" style="border: 5px;"></ion-textarea>
    
    <div>
      <ion-button (click)="publicarModal()" expand="block" >
        Publicar
      </ion-button>
      <div style="margin-left: 30px;">
        <ion-buttons slot="start">
          <ion-button (click)="Gallery()" color="primary" >
            Seleccionar Foto /
          </ion-button>
          <ion-button (click)="SeleccionarFoto()" color="success"  >
            / Tomar foto
          </ion-button> 
        </ion-buttons>
      </div>
    
    </div>
    <div *ngIf="image">
      
      <div *ngIf="imagen != ''">
        <img [src]="imagen">
      </div>
    </div>



    <div>
      <ion-row >
        <ion-col size="3" *ngFor="let image of tempImg">
          <ion-card>
            
            <img [src]="image" >
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-content>