

  <ion-card class="card">
    <br>
    <ion-card-title>
        <div style="margin-left: 10px; display: flex;">
          
            <div  *ngIf="publicacion.usuario.imagePerfil;else imagen">
              <ion-avatar>
                <img [src]="publicacion.usuario.imagePerfil"/>
              </ion-avatar>
            </div>
            <div>
              <ng-template #imagen>
                <ion-icon name="person-circle-outline"></ion-icon>
              </ng-template>
              <ion-label style="margin-left: 20px; font-size: 20px;"> {{ publicacion.nombre }}</ion-label>
              <ion-card-subtitle class="ionfecha">{{publicacion.fecha | date: 'fullDate' }} </ion-card-subtitle>
            </div>

          <div class="social-more">
            <ion-button (click)="lanzarMenu($event)" fill="clear">
              <ion-icon
                class="colorTresPuntitos"
                slot="icon-only"
                name="ellipsis-vertical-outline"
              ></ion-icon> 
            </ion-button>
          </div>
        </div>
    </ion-card-title>
  
    <ion-card-content (click)="verPublicacion()">
      <p class="ionpub">{{ publicacion.contenidoPublicacion }}</p>
    </ion-card-content>
  
    <div *ngIf="publicacion.imagen != ''">
      <img (click)="verPublicacion()" [src]="publicacion.imagen">
    </div>
    <ion-item (click)="openModalReacciones()">
      <ion-label>
        Tú
      </ion-label>
    </ion-item>
    <ion-item>
      <div style="margin-right: 30px; display: flex;">
        <ion-item>
          <ion-icon (click)="laik()" [ngClass]="{like: like}" class="animate__animated animate__flip" name="thumbs-up-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon (click)="menkokora()" [ngClass]="{'heart': heart}" class="animate__animated animate__heartBeat" id="like" name="heart-outline"></ion-icon>
        </ion-item>
        <ion-item (click)="verPublicacion()">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </ion-item>
      </div>
    </ion-item>
    <div *ngIf="comentarios == false">
      <ion-footer>
        <ion-toolbar>
          <ion-buttons>
            <div *ngIf="publicacion.comentarios.length > 0; else imagenNew">
              <div *ngIf="publicacion.comentarios[0].usuario.imagePerfil; else imagenNew">
                <ion-chip  color="primary" slot="start" mode="ios" outline="true">
                  <ion-avatar>
                    <img [src]="publicacion.comentarios[0].usuario.imagePerfil" />
                  </ion-avatar>
                </ion-chip>
              </div>
            </div>
            
            <ng-template #imagenNew>
              <ion-icon style="height: 30px; margin-left: 10px;" name="person-circle-outline"></ion-icon>
            </ng-template>
  
            <ion-button  (click)="verPublicacion()">
              <div *ngIf="publicacion.comentarios.length > 0">
                <ion-label #nombreUsuario class="labelComentario ">{{usuarioString}}</ion-label>
              </div>
              <ion-input type="text"  [disabled]="true"></ion-input>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-card>
  
  <div *ngIf="comentarios == true">
    <div class="divcomentario">
      <ion-item color="light" class="iteminputcomentario">
        <ion-label> <p >Comentar:</p></ion-label>
        <ion-input class="inputcomentario" (ionChange)="getTextComentario($event)" type="text"></ion-input>
      </ion-item>
      <ion-item (click)="comentar()" class="itemicono">
        <ion-icon name="send-outline"></ion-icon>
      </ion-item> 
    </div>
  
    <ion-list >
        <ion-item-sliding *ngFor="let comentario of publicacion.comentarios">
          <ion-item>
            <ion-label id="labelComentario"> <p >{{comentario.usuario.nombres}} {{comentario.usuario.apellidos}}:</p> </ion-label>
            <ion-label > <p >{{comentario.contenidoComentario}}</p></ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
          
          <div *ngIf="usuario.correo == comentario.usuario.correo">
            <ion-item-options side="start">
              <ion-item-option (click)="editarComentario(comentario)" > <p >Editar</p></ion-item-option>
              <ion-item-option color="primary" (click)="eliminarComentario(comentario)"> <p >Eliminar</p></ion-item-option>
            </ion-item-options>
          </div>
          
        </ion-item-sliding>
  
    </ion-list>
  </div>


