


<ion-card>
  <ion-card-title>
    <ion-chip color="primary">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-chip>

    <ion-label> {{ publicacion.nombre }} </ion-label>

    <div class="social-more">
      <ion-button (click)="lanzarMenu($event)" fill="clear">
        <ion-icon
          class="colorTresPuntitos"
          slot="icon-only"
          name="ellipsis-vertical-outline"
        ></ion-icon>
      </ion-button>
    </div>
  </ion-card-title>

  <ion-card-subtitle class="ion-padding">Hace 1m</ion-card-subtitle>

  <ion-card-content (click)="verPublicacion()">
    <p>{{ publicacion.contenidoPublicacion }}</p>
  </ion-card-content>

  <div *ngIf="publicacion.imagen != ''">
    <img (click)="verPublicacion()" [src]="publicacion.imagen">
  </div>

  <div *ngIf="comentarios == false">
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon
            slot="start"
            class="iconon"
            name="person-circle-outline"
          ></ion-icon>

          <ion-button  (click)="verPublicacion()" class="buttonIconTwo">
            <div *ngIf="publicacion.comentarios.length > 0">
              <ion-label class="labelComentario">{{publicacion.comentarios[0].usuario?.nombres}} {{publicacion.comentarios[0].usuario?.apellidos}}:</ion-label>
            </div>
            <ion-input type="text" class="inpuN" [disabled]="true"></ion-input>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-card>

<div *ngIf="comentarios == true">
  <ion-item color="light">
    <ion-label>Comentar: </ion-label>
    <ion-input (ionChange)="getTextComentario($event)" type="text"></ion-input>
    <ion-button (click)="comentar()" >
      <ion-icon color="secondary" name="send-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
      <ion-item-sliding *ngFor="let comentario of publicacion.comentarios">
        <ion-item>
          <ion-label class="labelComentario">{{comentario.usuario.nombres}} {{comentario.usuario.apellidos}}:</ion-label>
          <ion-label>{{comentario.contenidoComentario}}</ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        
          <div *ngIf="usuario.correo == comentario.usuario.correo">
            <ion-item-options side="start">
            <ion-item-option (click)="editarComentario(comentario)" >Editar</ion-item-option>
            <ion-item-option color="primary" (click)="eliminarComentario(comentario)">Eliminar</ion-item-option>
          </ion-item-options>
        </div>
        
      </ion-item-sliding>

  </ion-list>
</div>

