<ion-header>
  <ion-toolbar>
    <ion-title>Seguridad</ion-title>
    <ion-buttons slot="end" class="close">
      <ion-icon (click)="closeModal()" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <br>
    <div style="margin-left: 10px; margin-right: 10px;">
      <img src="../../../assets/icon/shield.svg" class="securityimg" alt="security">
      <p class="parrafo">SocialApp protege tus conversaciones con cifrado de extremo a extremo. Esto quiere decir que tu información dada a esta app y a las personas con las que elijas compartirlos, ni siquiera SocialApp podrá leerlos, verlos o escucharlos.</p>
    </div>
  </ion-card>
  <ion-item>
    <ion-icon name="chatbubble-ellipses-outline" class="animate__animated animate__swing" id="rigth"></ion-icon>
    <div class="alinear">
      <p class="monospace">Contraseña</p>
    </div>
  </ion-item>
  <ion-item>
    <ion-icon name="at-outline" class="animate__animated animate__swing" id="rigth"></ion-icon>
    <div class="alinear">
      <p class="monospace">Menciones</p>
    </div>
  </ion-item>
  <ion-item>
    <ion-icon name="pricetag-outline" class="animate__animated animate__swing" id="rigth"></ion-icon>
    <div class="alinear">
      <p class="monospace">Etiquetas</p>
    </div>
  </ion-item>
</ion-content>
