.parrafo{
    text-align: justify;
}
.close{
    width: 30px;
}
.alinear{
    display: flex; 
    align-items: center;
}
.rigth{
    margin-right: 10px;
}
#rigth{
    margin-right: 10px;
}
.securityimg{
    border-radius: 100%;
    margin-left: 100px;
}