<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      
      <div>
        <ion-button  (click)="crearPublicacion()" class="monospace">
          Deseas Crear una publicacion? 
        </ion-button>
      </div>

      <div>
        <ion-buttons slot="start">
          <ion-button class="monospace">
            <ion-icon slot="start" name="add"></ion-icon>
             <b>Publicacion</b>
          </ion-button>
          <ion-button (click)="crearPublicacionWithImagen()" class="monospace">
            <b>Foto/Video</b>
          </ion-button>

        </ion-buttons>
      </div>
    </ion-card-content>
    
  </ion-card>
  <app-publicaciones  [publicaciones]="publicaciones"></app-publicaciones>
</ion-content>
