<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Mater Social
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      
      <div>
        <ion-button  (click)="crearPublicacionWithImagen()" >
          Deseas Crear una publicacion? 
        </ion-button>
      </div>

      
    </ion-card-content>
    
  </ion-card>

  <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="publicaciones.length===0">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-skeleton-text animated style="width: 60px; height: 50px" slot="start"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%" slot="end"></ion-skeleton-text>
          </ion-item>
           
          
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated style="width: 280px; height: 320px" ></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      
    </ion-item>
  </div>
  
  <app-publicaciones [publicaciones]="publicaciones"></app-publicaciones>
  
</ion-content>
